
    <nav class="navbar navbar-expand-lg bg-black text-white mt-3" style="border-bottom: 2px solid white;">
      <div class="container p-3">
        <div class="collapse navbar-collapse" id="navbarSupportedContent2" style="color: white;">

          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="mb-2">
              <div class="bg-black me-3 d-flex align-items-center text-white" style="cursor: pointer;">
                <div class="me-1 ms-1"><i class="fa-solid fa-list"></i></div>
                <div class="me-1 ms-1"><%= lang.nav_bc %></div>
                <div class="me-1 ms-1"><i class="fa-solid fa-chevron-down" id="dropdown-icon"></i></div>
              </div>
              <div class="dropdown-items-list bg-light" style="display: none; padding: 10px 30px; border-radius: 5px;">
                <a class="dropdown-item" href="/v1/product_categories/?category=Comptes&name="><%= lang.nav_bc1 %></a>
                <a class="dropdown-item" href="/v1/product_categories/?category=Formations&name="><%= lang.nav_bc2 %></a>
                <a class="dropdown-item" href="/v1/product_categories/?category=Services&name="><%= lang.nav_bc3 %></a>
              </div>
            </div>

            <div class="mb-2">
              <div class="d-flex justify-content-center align-items-center">
                <div class="me-2 ms-2"><a href="/" style="text-decoration: none; color: white;"><%= lang.nav_h_1 %></a></div>
                <div class="me-2 ms-2">
                  <div class="nav-item" id="account-dropdown">
                    <span><%= lang.nav_h_2 %></span>
                    <div class="dropdown-content" style="padding: 10px; border-radius: 5px;">
                      <a type="button" href="#">Account</a>
                      <div class="nested-dropdown" id="account-submenu" style="display: none;">
                        <a href="/v1/product_categories/?category=Comptes&name=">All</a>
                        <a href="#">Streaming</a>
                        <a href="#">Music</a>
                        <a href="#">VPN</a>
                        <a href="#">Sport</a>
                        <a href="#">Others</a>
                      </div>
                      <a type="button" href="#">Services</a>
                      <div class="nested-dropdown" id="services-submenu" style="display: none;">
                        <a href="/v1/product_categories/?category=Services&name=">All</a>
                        <a href="#">Trading</a>
                        <a href="#">E-commerce</a>
                        <a href="#">SEO</a>
                        <a href="#">Immobilier</a>
                        <a href="#">Others</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="me-2 ms-2"><%= lang.nav_h_3 %></div>
                <div class="me-2 ms-2">
                  <div class="nav-item">
                    <span><%= lang.nav_h_4 %></span>
                    <div class="dropdown-content" style="padding: 10px; border-radius: 5px;">
                      <a href="#">Money</a>
                      <a href="#">Bank</a>
                    </div>
                  </div>
                </div>
                <div class="me-2 ms-2"><%= lang.nav_h_5 %></div>
                <div class="me-2 ms-2"><%= lang.nav_h_6 %></div>
              </div>
            </div>

            <div class="mb-2">
              <img src="/tel2.png" alt="h4kig" width="20" height="20" />
              <a style="text-decoration: none;">@H4KIG</a>
            </div>
          </div>
        </div>
      </div>
    </nav>