    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <img src="/h4kigImg.jpg" id="logo2" alt="h4kig" width="150" height="150" />
            <img src="/tel2.png" alt="h4kig" width="20" height="20" id="telTable" />
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex flex-column category-links" id="catBox">
          <a href="#" style="text-decoration: none; flex: 1;"><%= lang.l_table_1 %></a>
          <a href="#" style="text-decoration: none; flex: 1;"><%= lang.l_table_1_1 %></a>
          <a href="#" style="text-decoration: none; flex: 1;"><%= lang.l_table_1_2 %></a>
          <a href="#" style="text-decoration: none; flex: 1;"><%= lang.l_table_1_3 %></a>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex flex-column category-links" id="infoBox">
          <a href="#" style="text-decoration: none; flex: 1;"><b><%= lang.l_table_2 %></b></a>
          <a href="#" style="text-decoration: none; flex: 1;"><%= lang.l_table_2_1 %></a>
          <a href="#" style="text-decoration: none; flex: 1;"><%= lang.l_table_2_2 %></a>
        </div>

        <div class="col-12 col-sm-6 col-md-12 col-lg-3 mb-3 d-flex flex-column" id="payBox">
          <a href="#" style="font-size: 22px; text-decoration: none; color: white; flex: 1;"><b><%= lang.l_table_3 %></b></a>
          <a href="#" style="font-size: 18px; text-decoration: none; color: white; flex: 1;"><%= lang.l_table_3_1 %></a>
          <div>
            <img src="/bitcoin.png" width="40" height="40" />
            <img src="/litecoin.png" width="40" height="40" />
            <img src="/monero.png" width="40" height="40" />
            <img src="/usdt.png" width="40" height="40" />
          </div>
        </div>
      </div>
    </div>