<%- include("../includes/head.ejs"); %>

<link rel="stylesheet" href="/style.css">

<body class="bg-black text-white">
  <style type="text/css">
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0; /* Optionally, you can set margin to control the spacing */
    }

    #idBtns {
      border: 1px solid white;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      padding: none;
    }

    #contFirst {
      margin-bottom: 100px;
    }

    #first {
      border-top: 1px solid white; 
      border-bottom: 1px solid white;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    #second {
      text-align: center;
    }

    #csBtn {
      text-align: right;
    }

    #csBtn:hover {
      color: black;
    }

    #exampleFormControlInput1 {
      width: 300px;
      padding: 0;
      height: 40px;
      outline: none;
      border: none;
      text-indent: 20px;
    }

    .form-control::placeholder {
      font-size: 14px;
    }

    #exampleFormControlInput1:focus {
      outline: none;
      border: none;
    }

    #cartBox1 {
      padding: 30px;
    }

    #cartBox2 {
      margin-left: 10px;
    }

    #checkout {
      border-radius: 25px;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 10px 30px;
      margin-left: 10px;
    }

    #cartBox4 {
      margin-left: 20px;
    }

    #cartBox5 {
      padding: 10px 50px 10px 30px;
    }

    #third {
      display: none;
    }

    @media (max-width: 993px) {
      #first {
        display: none;
      }

      #second {
        // border: 1px solid white;
        flex-direction: column;
        border-top: 1px solid white; 
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        text-align: left;
        border-radius: 0 20px 20px 0;
      }

      #first p {
        padding: 1%;
        width: 100%;
        // border: 1px solid red;
        text-align: left;
      }

      #second div {
        padding: 1%;
        width: 100%;
        // border: 1px solid red;
        text-align: left;
      }

      #image1Box {
        display: none;
      }

      // #image1 {
      //   width: 30px;
      //   height: 30px;
      // }

      #csBtn {
        text-align: center;
      }

      #third {
        display: flex;
        flex-direction: column;
      }

      #decBtn {
        padding-left: 80px;
      }
    }

    @media (max-width: 500px) {
      #contFirst {
        margin-left: 10px;
      }

      #checkout {
        width: 100%;
        letter-spacing: 0px;
        padding: 10px 3px;
        margin: 0px;
      }

      #cartBox1 {
        padding: 20px 5px;
      }

      #cartBox2 {
        margin: 0px;
      }

      #cartBox3 {
        flex-direction: column;
      }

      #cartBox4 {
        margin-top: 30px;
        margin-left: 0px;
      }

      #cartBox5 {
        padding: 0px;
      }

      #decBtn {
        padding-left: 10px;
      }
    }
  </style>

  <header class="header1">
    <%- include('../includes/navbar.ejs') %>
  </header>

  <header class="header-to-hide" style="position: sticky; top: 0; background-color: black; z-index: 1000;">
    <%- include('../includes/navbar2.ejs') %>
  </header>

  <div class="loading-spinner" id="loadingSpinner">
    <div class="spinner"></div>
  </div>

  <section>
    <div class="container-fluid bg-light p-3" style="color: black;">
      <div class="row justify-content-center">
        <div class="col-12">
          <ul class="mb-2 d-flex" style="list-style-type: none;" id="navbar">
            <li class="nav-item ms-3">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="#">Shopping Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container" id="contFirst">
      <div class="row">
        <% if (products.length >= 1) { %>
          <div class="col-6 col-sm-6 col-md-6 col-lg-12 pt-2 mt-5" id="first">
            <p class="col-2">Image</p>
            <p class="col-2">Name</p>
            <p class="col-2">Price</p>
            <p class="col-2">Quantity</p>
            <p class="col-2">Subtotal</p>
            <p class="col-2">Remove</p>
          </div>

          <% for (let i = 0; i < products.length; i++) { %>
            <div class="col-6 col-sm-6 col-md-6 col-lg-12 pt-2 mt-5 border p-2" id="third" style="border-radius: 20px 0 0 20px;">
              <img src="https://h4kig.com/storage/<%= products[i].image %>" alt="h4kig" width="100%" height="200" />
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-12 d-flex justify-content-evenly align-items-center mt-5" id="second">
              <div class="col-2" id="image1Box">
                <img src="https://h4kig.com/storage/<%= products[i].image %>" alt="h4kig" width="100" height="100" id="image1" />
              </div>
              <div class="col-2"><%= products[i].name %></div>
              <div class="col-2"><%= products[i].price %>€</div>
              <div class="col-2" id="idBtns">
                <form action="/v1/updateCart" method="POST">
                  <input type="hidden" name="productId" value="<%= products[i].id %>"/>
                  <button type="submit" id="decBtn" class="btn decrementCount text-white" style="font-size: 25px;">
                    -
                  </button>
                  <input type="number" class="custom-number-input bg-transparent text-white text-center border-0 w-25" min="1" name="quantity" value="<%= products[i].quantity %>" style="cursor: none;">
                  <button type="submit" class="btn incrementCount text-white" style="font-size: 25px;">
                    +
                  </button>
                </form>
              </div>
              <div class="col-2 total_price"></div>
              <div class="col-2">
                <form action="/v1/deleteCart" method="POST">
                  <input type="hidden" name="productId" value="<%= products[i].id %>"/>
                  <button type="submit" class="btn border-0">
                    <i class="fa-solid fa-trash" style="color: #f3f4f7;"></i>
                  </button>
                </form>
              </div>
            </div>
          <% } %>

          <div class="col-12 mt-5" id="csBtn">
            <a href="/" class="btn bg-light text-uppercase p-3 ps-5 pe-5" style="text-decoration: none; border-radius: 25px;">
              <i class="fa-solid fa-cart-plus" style="color: #070808;"></i> Continue Shopping
            </a>
          </div>

          <div class="col-12 mt-5" style="border: 2px solid grey;"></div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-5 d-flex flex-column justify-content-center">
            <h4 style="font-size: 19px;"><b>Apply Coupon</b></h4>
            <form action="" method="">
              <div class="d-flex mt-3" id="cartBox3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter coupon code">
                <button type="submit" id="cartBox4" class="btn bg-light mb-3 ps-3 pe-3" style="color: black; font-size: 14px; border-radius: 25px; height: 40px;">
                  <i class="fa-regular fa-bookmark fa-sm" style="color: #01080e;"></i> Apply
                </button>
              </div>
            </form>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-5 border" id="cartBox1" style="border-radius: 25px;">
            <h4 style="font-size: 19px;"><b>Cart Total</b></h4>
            <div class="d-flex align-items-center border p-0 mt-3" id="cartBox2">
              <div class="flex-1" id="cartBox5" style="border-right: 1px solid white; font-size: 15px;">
                Total <span style="font-size: 11px;">(Shipping fees not included)</span>
              </div>
              <div class="flex-1 p-1" id="cartTotal" style="font-size: 18px;"></div>
            </div>
            <div class="mt-3 p-2">
                <a href="/v1/payments" class="btn btn-light text-uppercase" id="checkout">
                  <i class="fa-regular fa-share-from-square fa-sm" style="color: #010409;"></i> <b>proceed to checkout</b>
                </a>
            </div>
          </div>
        <% } else { %>
          <div class="col-12 mt-5 text-center mb-5">
            <h3>Your cart is empty!</h3>
          </div>
        <% } %>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="position-relative">
        <div class="position-fixed bottom-0 start-0" id="button-container">
          <form action="/v1/language" method="post">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="en-button" type="submit" name="lang" value="en">
                <div class="button-content" id="enBtn">
                  <img src="/usFlag.png" width="13" height="13" />
                  English
                </div>
              </button>
              <button class="ru-button" type="submit" name="lang" value="fr">
                <div class="button-content" id="frBtn">
                  <img src="/frFlag.png" width="13" height="13" />
                  Français
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section>
    <%- include('../includes/newsletter.ejs') %>
  </section>

  <section>
    <%- include('../includes/table.ejs') %>
  </section>

  <section>
    <%- include('../includes/footer.ejs') %>
  </section>

  <script>
    const lang = '<%= JSON.stringify(lang) %>'; 
  </script>

  <script src="/script.js"></script>

  <script>
    const data = <%- JSON.stringify(products) %>;
  </script>

  <script type="text/javascript">
    globalThis.document.addEventListener('DOMContentLoaded', () => {
      const totalPrice = globalThis.document.querySelectorAll('.total_price');
      const cartTotal = globalThis.document.getElementById('cartTotal');
      const incButton = globalThis.document.getElementsByClassName('incrementCount');
      const decButton = globalThis.document.getElementsByClassName('decrementCount');
      // console.log(data);

      let price = 0;
      let total = 0;

      data.forEach((i, index) => {
        price = parseFloat(i.price) * parseFloat(i.quantity);
        total += price;
        // console.log(totalPrice[index].previousElementSibling.querySelector('input[name="quantity"]').value);
        if (totalPrice[index].previousElementSibling.querySelector('input[name="quantity"]').value == i.quantity) {
          totalPrice[index].innerHTML = `${price}€`;
          price = 0;
        }
        cartTotal.innerHTML = `${total}€`;
      })

      // console.log(total);

      for(let i = 0; i < incButton.length; i++) {
        incButton[i].addEventListener('click', (e) => {
          let totalCount = parseInt(e.target.previousElementSibling.value) + 1;
          e.target.previousElementSibling.setAttribute('value', totalCount);
          return;
        })
      }

      for(let i = 0; i < decButton.length; i++) {
        decButton[i].addEventListener('click', (e) => {
          let inputValue = parseInt(e.target.nextElementSibling.value);
          if (inputValue <= 1) return;
          else {
            let totalCount = inputValue - 1;
            e.target.nextElementSibling.setAttribute('value', totalCount);
            return;
          }
        })
      }

    })

    // JavaScript to hide the loading spinner after page load
    // window.addEventListener('load', function () {
    //   console.log("hii...");
    //   // Get the loading spinner element
    //   const loadingSpinner = document.getElementById('loadingSpinner');
        
    //   // Hide the loading spinner
    //   loadingSpinner.style.display = 'none';
    // });
  </script>

  <%- include("../includes/end.ejs"); %>
</body>