<%- include("../includes/head.ejs"); %>

<link rel="stylesheet" href="/style.css">

<body class="bg-black text-white">
  <style type="text/css">
    /*
      #fixedColumn {
        position: sticky;
        top: 500px;
      }
    */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0; /* Optionally, you can set margin to control the spacing */
    }
    
    #cartBtn:hover {
      color: black;
    }

    #buyBtn:hover {
      color: black;
    }

    #second {
      margin-left: 0.2px;
    }

    @media (max-width: 2500px) {
      #image1 {
        width: 100%;
        height: 400px;
      }

      #fourth {
        margin-left: 30px;
      }
      #third {
        margin-top: 30px;
      }
      #qBox {
        width: 100px;
      }
    }
    @media (max-width: 991px) {
      #image1 {
        width: 100%;
        height: 400px;
      }
      #fourth {
        margin-top: 40px;
        margin-left: 0px;
      }
    }
    @media (max-width: 500px) {
      #first {
        margin-left: 12px;
      }
      #navbar {
        display: flex;
        justify-content: space-between;
      }
      #image1 {
        width: 100%;
        height: 400px;
      }
      #third {
        margin-top: 10px;
      } 
      #fourth {
        margin-top: 40px;
        margin-left: 0px;
      }
    }
  </style>

  <header class="header1">
    <%- include('../includes/navbar.ejs') %>
  </header>

  <header class="header-to-hide" style="position: sticky; top: 0; background-color: black; z-index: 1000;">
    <%- include('../includes/navbar2.ejs') %>
  </header>

  <div class="loading-spinner" id="loadingSpinner">
    <div class="spinner"></div>
  </div>

  <section>
    <div class="container-fluid bg-light p-3" style="color: black;">
      <div class="row justify-content-center">
        <div class="col-12">
          <ul class="mb-2 d-flex" style="list-style-type: none;" id="navbar">
            <li class="nav-item ms-3">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="#"><%= name %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-5" id="first">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-8 p-0 text-white">
          <% if(products.length === 1) { %>
            <div class="col-12 p-0">
              <div class="row" id="second">
                <% for(let i = 0; i < products.length; i++) { %>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="https://h4kig.com/storage/<%= products[i].image %>" class="card-img-top" alt="h4kig" id="image1">
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-3">
                    <h2 class="text-capitalize mb-3 mt-2"><%= products[i].pName %></h2>
                    <h3 class="p-2" style="border-top: 1px solid white; border-bottom: 1px solid white;"><%= products[i].price %>€</h3>
                    <div class="mt-4" style="line-height: 1.8;">
                      <%= products[i].description %>
                    </div>
                    <!-- <p>-47 Apps (+$4000)</p>
                      <p>-100% private, no one but you is on the account.</p>
                      <p>-Replace account in case of problem.</p>
                      <p>-Do not change email or password.</p> -->

                    <% if (products[i].category === 'digital') { %>
                      <div class="mt-4">
                        <div class="d-flex">Warranty<p class="ms-1" style="color: red; font-size: 20px;">*</p></div>
                        <div class="form-check" style="margin-top: -15px;">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                            12 Months
                          </label>
                        </div>
                      </div>
                    <% } %>
                    <div class="mt-4 border" style="border-radius: 10px;" id="qBox">
                      <form action="/v1/cart" method="POST">
                        <div class="d-flex align-items-center justify-content-center ps-4 pe-4 pt-1 pb-1">
                          <input type="hidden" value=<%= products[i].product_id %> name="productId">
                          <input class="p-1 bg-transparent text-white border-0" name="quantity" id="demoInput" type="number" min="1" value="1"> 
                          <div class="d-flex flex-column ms-3 p-1" style="font-size: 25px;">
                            <button type="button" class="increment border-0 bg-transparent text-white"> +
                            </button>
                            <button type="button" class="decrement border-0 bg-transparent text-white"> -
                            </button>
                          </div>
                        </div>
                    </div>
                    <div class="mt-4 d-flex flex-wrap">
                        <button type="submit" id="cartBtn" class="btn text-uppercase bg-light p-3 me-2 mb-2 border-0" style="text-decoration: none; border-radius: 25px;">
                            Add to Cart
                        </button>
                      </form>
                      <form>
                        <button type="submit" id="buyBtn" class="btn text-uppercase bg-light p-3 ms-2 mb-2 border-0" style="text-decoration: none; border-radius: 25px;">
                            buy now
                        </button>
                      </form>
                    </div>
                    <div class="mt-5" style="border-top: 2px solid white">
                      <p class="mt-3 text-capitalize">Categories: <%= products[i].category %></p>
                      <p>Avilability: <%= products[i].stock_status %> </p>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          <% } %>

          <% if(relatedProduct.length >= 1) { %>
            <div class="col-12" id="third">
              <div class="row">
                <div class="col-12 mb-5" style="font-size: 25px; border-bottom: 2px solid white; margin-left: 10px;">
                  <button class="tab-btn text-white p-2 bg-transparent" style="margin-left: -10px; border: none; border-bottom: 2px solid white;">Related Products</button>
                </div>
                <% for(let i = 0; i < relatedProduct.length; i++) { %>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
                    <div class="card bg-black text-white p-2 border">
                      <a href="/v1/details/<%= relatedProduct[i].pName %>" class="text-white" style="text-decoration: none;">
                        <img src="https://h4kig.com/storage/<%= relatedProduct[i].image %>" class="card-img-top" alt="h4kig" width="100%">
                        <div class="card-body">
                          <h5 class="card-title text-uppercase mb-3" style="font-size: 16px;"><%= relatedProduct[i].category %></h5>
                          <h5 class="card-title text-uppercase" style="font-size: 16px;"><%= relatedProduct[i].pName %></h5>
                          <div class="d-flex justify-content-between align-items-center p-2 mt-3" style="border-top: 2px solid white">
                            <h5 class="card-title fw-bold" style="font-size: 22px; cursor: none;"><%= relatedProduct[i].price %>€</h5>
                            <a href="/v1/details/<%= relatedProduct[i].pName %>" class="btn border-0">
                              <i class="fa-solid fa-circle-info" style="color: #e9eaec;"></i>
                            </a>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          <% } %>
        </div>

        <div class="col-12 col-sm-12 col-lg-3 p-0 text-white sticky-div" id="fourth" style="">
          <div class="col-12 p-3 border" style="border-radius: 10px;">
              <h6 class="text-uppercase">Product Categories</h6>
              <div class="mt-3 p-2" style="border-top: 1px solid white;">
                <p class="mt-2"><i class="fa-solid fa-plus me-2" style="color: #ebedef;"></i> Accounts</p>
                <p><i class="fa-solid fa-plus me-2" style="color: #ebedef;"></i> Courses</p>
                <p><i class="fa-solid fa-plus me-2" style="color: #ebedef;"></i> Services</p>
              </div>
          </div>
          <div class="col-12 p-3 border mt-4" style="border-radius: 10px;">
              <h6 class="text-uppercase">Featured Products</h6>
              <div class="mt-3 p-2" style="border-top: 1px solid white;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="position-relative">
        <div class="position-fixed bottom-0 start-0" id="button-container">
          <form action="/v1/language" method="post">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="en-button" type="submit" name="lang" value="en">
                <div class="button-content" id="enBtn">
                  <img src="/usFlag.png" width="13" height="13" />
                  English
                </div>
              </button>
              <button class="ru-button" type="submit" name="lang" value="fr">
                <div class="button-content" id="frBtn">
                  <img src="/frFlag.png" width="13" height="13" />
                  Français
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section>
    <%- include('../includes/newsletter.ejs') %>
  </section>

  <section>
    <%- include('../includes/table.ejs') %>
  </section>

  <section>
    <%- include('../includes/footer.ejs') %>
  </section>

  <script>
    const lang = '<%= JSON.stringify(lang) %>'; 
  </script>

  <script src="/script.js"></script>

  <script type="text/javascript">
    const incButton = globalThis.document.getElementsByClassName('increment');
    const decButton = globalThis.document.getElementsByClassName('decrement');

    for(let i = 0; i < incButton.length; i++) {
      // console.log(incButton[i]);
      incButton[i].addEventListener('click', (e) => {
        let totalCount = parseInt(e.target.parentElement.previousElementSibling.value) + 1;
        e.target.parentElement.previousElementSibling.setAttribute('value', totalCount);
        // console.log(e.target.parentElement.previousElementSibling);
        return;
      })
    }

    for(let i = 0; i < decButton.length; i++) {
      // console.log(decButton[i]);
      decButton[i].addEventListener('click', (e) => {
        const count = parseInt(e.target.parentElement.previousElementSibling.value);
        if (count <= 1) {
          return;
        }
        let totalCount = count - 1;
        e.target.parentElement.previousElementSibling.setAttribute('value', totalCount);
        // console.log(e.target.parentElement.previousElementSibling);
        return;
      })
    }
  </script>

  <%- include("../includes/end.ejs"); %>
</body>
